<template>
    <div id="app">
        <notifications group="alert" classes="vue-notification" position="top center" />
        <router-view></router-view>
    </div>
</template>

<script>

export default {
    name:'parent-app',
}
</script>

<style lang="scss" scoped>
.vue-notificaiton {
  padding: 10px;
  margin: 0 5px 5px;

  font-size: 12px;

  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }

  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}
</style>

