<template>
    <div class="text-center mid">
        <h2>Page not found</h2>
        <h5>Error 404</h5>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped>
.mid{
    margin-top: 70px;
}
</style>
