<template>
    <div >
        <div class="header">
            <div class="float-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPlan">NEW PLAN</button>
            </div>
            <h3>Plans</h3>
        </div>
        <add-plan ref="mplan" />
        <div class="content">
            <transition-group name="p-list" tag="div">
                <template v-for="plan in plans">
                    <div class="card" :key="plan.id">
                        <router-link class="plan" :to="`/plans/${plan.id}`">
                        <div class="card-body">
                            <div class="d-inline">
                                <span class="title">{{plan.plan_name}}</span>
                                <router-link :to="`/plans/${plan.id}`" class="text-primary float-right"><font-awesome-icon size="lg" icon="arrow-alt-circle-right" /></router-link>
                            </div>
                        </div>
                        </router-link>
                    </div>
                </template>
            </transition-group>
        </div>
        
    </div>
</template>

<script>
import AddPlan from '../components/modals/AddPlan'
export default {
    components: {
        AddPlan
    },
    created(){
        if(this.plans.length == 0) this.$store.dispatch('plans/fetchPlans');
    },
    computed: {
        plans(){
            return this.$store.getters['plans/plans'];
        }
    }
}
</script>

<style scoped>
.header{
    padding: 20px;
}
.content{
    padding: 5px 5px;
}
.card{
    border-radius: 5px;
    box-shadow: 0 2px 7px 0px rgba(0,0,0,0.2);
    margin-bottom: 9px; 
    width: 100%;
    border: 0px;
}
.plan{
    text-decoration: none;
}
.p-list-enter-active, .p-list-leave-active {
  transition: all 0.5s;
}
.p-list-enter, .p-list-leave-to {
  opacity: 0;
}
</style>
