<template>
    <div class="content">
        <plan-dropdown :plan="plan" v-on:edit="formplan = plan" v-on:notify="notification" />

        <!-- Modals -->
        <add-day :plan="plan" v-on:notify="notification" v-on:error="form_error"/>
        <add-exercise :exercises="exercises" :day="ex_day" :plan="plan"  v-on:notify="notification" v-on:error="form_error"/>
        <edit-plan :plan="formplan" v-on:notify="notification" v-on:error="form_error" />
        <plan-users :dusers="users" :users="plan.users" :plan="plan" v-on:notify="notification" v-on:error="form_error"  />

        <!-- Details -->
        <h3>{{plan.plan_name}}</h3>
        <h6>{{plan.plan_description}}</h6>
        <difficulty :difficulty="plan.plan_difficulty" />
        <p><font-awesome-icon icon="users" /> <a data-toggle="modal" data-target="#showUsers" href="#">({{planusers}} Users)</a></p>
        
        <!-- Days -->
        <plan-items :plan="plan" :ex_day="ex_day" :exercises="exercises" v-on:add="addExercise" v-on:notify="notification" />

    </div>
</template>

<script>
import PlanDropdown from '../components/PlanDropDown'

import AddDay from '../components/modals/AddDay'
import EditPlan from '../components/modals/EditPlan'
import AddExercise from '../components/modals/AddExercise'
import PlanUsers from '../components/modals/PlanUsers'
import Difficulty from '../components/DifficultyItem'
import PlanItems from '../components/PlanItems'

export default {
    components: {
        PlanDropdown,
        AddDay,
        EditPlan,
        AddExercise,
        PlanUsers,
        Difficulty,
        PlanItems,
    },
    data(){
        return {
            ex_day: '',
            formplan: '',
        }
    },
    methods: {
        addExercise(data){
            this.ex_day = data;
        },
        notification(message, error = 0){
            let type = 'success';
            if(error == 1) type = 'error';
            this.$notify({
                group: 'alert',
                title: message,
                type: type,
                duration: 3000,
            });
        },
        form_error(){
            this.$notify({
                group: 'alert',
                title: 'Please fill-in all the required fields before submitting',
                type: 'error',
                duration: 5000,
            });
        },
    },
    created(){
        if(this.$store.getters['plans/plans'].length == 0) this.$store.dispatch('plans/fetchPlans');
        if(this.exercises.length == 0) this.$store.dispatch('exercises/fetchExercises');
        if(this.users.length == 0) this.$store.dispatch('users/fetchUsers');
    },
    computed: {
        exercises(){
            return this.$store.getters['exercises/exercises'];
        },
        plan(){
            return this.$store.getters['plans/search'](this.$route.params.id);
        },
        users(){
            return this.$store.getters['users/users'];
        },
        planusers(){
            if(this.plan.users) return this.plan.users.length;
            return 0;
        }
    }
}
</script>

<style scoped>
.content{
    padding: 5px 5px;
}
.small{
    font-size: 9px;
}
</style>
<style>
.icon:hover{
    cursor: pointer;
}
</style>
