<template>
    <div >
        <div class="header mb-5">
            <div class="float-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUser">NEW USER</button>
            </div>
            <h3>Users</h3>
        </div>
        <add-user v-on:notify="notification" v-on:error="form_error" />
        <edit-user ref="medit" :user="edituser" v-on:notify="notification" v-on:error="form_error"/>
        <div class="content">
            <transition-group name="u-list" tag="div">
                <template v-for="user in users">
                    <div class="card mb-3" :key="user.id">
                        <div class="card-body">
                            <div class="row">
                                <span class="col-md-1 col-sm-2 col-2">
                                    <user-logo :first="user.firstname" :last="user.lastname" />
                                </span>
                                <span class="col-md-2 col-sm-2 col-4 align-self-center">{{user.firstname}}</span>
                                <span class="col-md-2 col-sm-2 col-3 align-self-center">{{user.lastname}}</span>
                                <span class="col-md-5 col-sm-4 mobile-hide align-self-center">{{user.email}}</span>
                                <span class="col-md-2 col-sm-2 col-3 text-right">
                                    <font-awesome-icon class="icon mr-2" icon="pen" data-toggle="modal" data-target="#editUser" @click="edituser = user" />
                                    <font-awesome-icon class="icon" color="#dc3545" icon="trash" @click="deleteUser(user.id)"/>
                                </span>
                            </div>
                        </div>
                    </div>
                </template>
            </transition-group>
        </div>
        
    </div>
</template>

<script>
import AddUser from '../components/modals/AddUser'
import EditUser from '../components/modals/EditUser'
import UserLogo from '../components/UserLogo'

export default {
    components: {
        AddUser,
        EditUser,
        UserLogo
    },
    data(){
        return {
            edituser: '',
        }
    },
    created(){
        if(this.users.length == 0) this.$store.dispatch('users/fetchUsers');
    },
    computed: {
        users(){
            return this.$store.getters['users/users']
        }
    },
    methods: {
        deleteUser(id){
            this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.$store.dispatch('users/removeUser', id)
                        .then((res) => {
                            this.notification(res.data.message);
                        }).catch((err) => {
                            this.notification(err, 1);
                        });
                    }
                });
        },
        notification(message, error = 0){
            let type = 'success';
            if(error == 1) type = 'error';
            this.$notify({
                group: 'alert',
                title: message,
                type: type,
                duration: 3000,
            });
        },
        form_error(){
            this.$notify({
                group: 'alert',
                title: 'Please fill-in all the fields before submitting',
                type: 'error',
                duration: 5000,
            });
        }
    }
}
</script>

<style scoped>
.content{
    padding: 5px 5px;
}
.card{
    border-radius: 5px;
    box-shadow: 0 2px 7px 0px rgba(0,0,0,0.2);
    width: 100%;
    border: 0px;
}
.icon:hover{
    cursor: pointer;
}
.u-list-enter-active, .u-list-leave-active {
  transition: all 0.5s;
}
.u-list-enter, .u-list-leave-to {
  opacity: 0;
}
.mobile-hide {
    display: inline;
} 
@media only screen and (min-width : 320px) and (max-width : 480px){ 
    .mobile-hide {
        display: none;
    }
}
</style>
