<template>
    <div class="numCircle">
        {{order}}
    </div>
</template>

<script>
export default {
    props: ['order']
}
</script>

<style scoped>
.numCircle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 2px;
    border: 2px solid #f89b38;
    color: #f05323;
    text-align: center;
    font: 14px Arial, sans-serif;
    user-select: none;
}
@media only screen and (min-width : 320px) and (max-width : 480px){ 
    .numCircle {
        position: relative;
        left: -10px;
    }
}

</style>
