<template>
    <div class="dropleft float-right">
        <font-awesome-icon class="dropdown-toggle text-secondary icon" icon="ellipsis-v" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <span class="dropdown-item icon" data-toggle="modal" data-target="#addExercise" @click="$emit('add', {day_name: day.day_name, id: day.id})"><font-awesome-icon icon="plus-circle"/> Add Exercise</span>
            <span class="dropdown-item icon" @click="$emit('sort', day.id)"><font-awesome-icon  size="lg" icon="sort"/> Order</span>
            <span class="dropdown-item icon" @click="removeDay"><font-awesome-icon icon="trash" /> Delete Day</span>
        </div>
    </div>
</template>

<script>
export default {
    props: ['day'],
    methods: {
        removeDay(){
            this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    this.$store.dispatch('plans/removeDay', this.day.id)
                    .then((res) => {
                        this.$emit('notify', res.data.message);
                    }).catch((err) => {
                        this.$emit('notify', err, 1);
                    });
                }
            });
        },
    }
}
</script>

<style scoped>
.icon:hover{
    cursor: pointer;
}
</style>