<template>
    <transition-group class="list-group list-group-flush mt-3" name="ex-list" tag="ul">
        <li class="list-group-item" :key="exercise.exercise_id" v-for="exercise in orderedExercises">
            <div class="row">
                <div class="col-1 p-0 align-self-center">
                    <circle-number :order="exercise.order" />
                </div>
                <div class="col-5 p-0 align-self-center">
                    {{exerciseName(exercise.exercise_id)}}
                </div>
                <div class="col-3 text-center p-0 align-self-center">
                    {{exercise.exercise_duration}} 
                    <font-awesome-icon color="#28a745" icon="stopwatch"/>
                </div>
                <div class="col-3 text-right p-0">
                    <template v-if="sorting == exercise.day_id">
                        <ul class="list-unstyled">
                            <li><font-awesome-icon class="icon" icon="sort-up" @click="updateExerciseOrder('up', exercise)" /></li>
                            <li><font-awesome-icon class="icon" icon="sort-down" @click="updateExerciseOrder('down', exercise)"/></li>
                        </ul>
                    </template>
                    <template v-else>
                        <font-awesome-icon class="icon" color="#dc3545" icon="trash" @click="removeExercise(exercise.id)"/>
                    </template>
                </div>
            </div>
        </li>
    </transition-group>
</template>

<script>
import CircleNumber from './CircleNumber'

export default {
    props: ['day', 'exercises', 'sorting'],
    components: {
        CircleNumber
    },
    methods: {
        exerciseName(val){
            if(this.exercises.length > 0)
                return this.exercises.filter(e => e.id == val)[0].exercise_name;
        },
        updateExerciseOrder(direction, exercise){
            if((direction == 'up' && exercise.order > 1) || (direction == 'down' && exercise.order < this.day.exercises.length)){
                let data = {direction: direction, exercise: exercise.id, day: this.day.id}
                this.$store.dispatch('plans/updateExerciseOrder', data);
            }
        },
        removeExercise(id){
            this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    this.$store.dispatch('plans/removeExercise', id)
                    .then((res) => {
                        this.$emit('notify', res.data.message);
                    }).catch((err) => {
                        this.$emit('notify', err, 1);
                    });
                }
            });
        },
    },
    computed: {
        orderedExercises(){
            return _.orderBy(this.day.exercises, 'order');
        },
    }
}
</script>

<style scoped>
.ex-list-enter-active, .ex-list-leave-active {
  transition: all 0.5s;
}
.ex-list-enter, .ex-list-leave-to{
  opacity: 0;
}
.list-group-item{
    transition: all 0.2s ease;
}
.list-group-flush .list-group-item {
    border-bottom: 0;
}
</style>
