<template>
    <h6 class="card-title">
        <template v-if="edit">
            <input class="nameEdit" type="text" v-model="day_name" >
            <font-awesome-icon class="icon mr-3" icon="save" @click="editDayName"/>
            <font-awesome-icon class="icon" icon="times" @click="disableEdit"/>
        </template>
        <template v-else>
           {{day.day_name}}<font-awesome-icon class="icon ml-2" icon="pen" @click="enableEdit"/>
        </template>
    </h6>
</template>

<script>
export default {
    props: ['day'],
    data() {
        return {
            day_name: '',
            edit: false,
        }
    },
    methods: {
        enableEdit(){
            this.$emit('edit', this.day.id, true);
            this.edit = true;
            this.day_name = this.day.day_name;
        },
        disableEdit(){
            this.edit = false;
            this.$emit('edit', 0, false);
            this.day_name = '';
        },
        editDayName(){
            if(this.day_name == ''){
                this.disableEdit();
                return;
            }
            let data = {plan: this.day.plan_id, id: this.day.id, day_name: this.day_name}
            this.$store.dispatch('plans/updateDayName', data)
            .then((res) => {
                this.$emit('notify', res.data.message);
                this.edit = false;
                this.day_name = '';
                this.disableEdit();
            }).catch((err) => {
                this.$emit('notify', err, 1);
            });
        },
    }
}
</script>

<style scoped>
.nameEdit{
    outline: none;
    border: 0px solid;
    border-bottom: 2px solid rgb(37, 137, 252);
    width: 25%;
}
@media only screen and (min-width : 320px) and (max-width : 480px){ 
    .nameEdit{
        width: 90%;
    }
    .icon{
        margin-top: 10px;
    }
}
</style>
