<template>
    <div class="row">
        <div class="col-4" v-bind:class="{one: beginner}">
            <div class="progress"></div>
        </div>
        <div class="col-4" v-bind:class="{two: intermediate}">
            <div class="progress"></div>
        </div>
        <div class="col-4" v-bind:class="{three: expert}">
            <div class="progress"></div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['difficulty'],
    computed: {
        beginner(){
            return this.difficulty >= 1;
        },
        intermediate(){
            return this.difficulty >= 2;
        },
        expert(){
            return this.difficulty == 3;
        }
    }
}
</script>

<style scoped>
.row{
    width: 15%;
    margin: 0;
    border-radius: 5px;
    border: 2px solid #444;
    overflow: hidden;
    margin-bottom: 5px;
}
.col-4{
    padding: 0;
}
.progress{
    height: 10px;
    border-radius: 0px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.one .progress{
    background-color: #B0D594;
}
.two .progress{
    background-color: #F2A64E;
}
.three .progress{
    background-color: #E25853;
}
@media only screen and (min-width : 320px) and (max-width : 480px){ 
    .row{
        width: 50%;
    }
}
</style>
