<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <transition name="slide" >
                <font-awesome-icon icon="arrow-alt-circle-left" size="lg" class="mr-2" color="#fff" v-if="routename == 'details'" @click="$router.push('/plans')" />
            </transition>
            <h3 class="navbar-brand">VirtuaGym App</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item" v-bind:class="{active: routename == 'plans' ? true : false}">
                        <router-link class="nav-link" to="/plans">Plans</router-link>
                    </li>
                    <li class="nav-item" v-bind:class="{active: routename == 'users' ? true : false}">
                        <router-link class="nav-link" to="/users">Users</router-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    computed: {
        routename(){
            return this.$route.name
        }
    }
}
</script>

<style scoped>
.slide-enter-active {
  transition: all .2s ease;
}
.slide-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-enter, .slide-leave-to{
  transform: translateX(-50px);
  opacity: 0;
}
</style>
