<template>
    <transition-group class="days" tag="div" name="d-list">
        <div v-for="day in orderedDays" :key="day.id" class="card mb-4">
            <div class="card-body pb-1">
                <transition name="fade" mode="out-in" v-if="day.id == sorting">
                    <span class="float-right icon" @click="disableSorting">Done <font-awesome-icon icon="times"/></span>
                </transition>
                <transition name="fade" mode="out-in" v-if="day.id != sorting">
                    <day-dropdown v-if="edit != day.id" :day="day" v-on:add="addExercise(day)" v-on:sort="enableSorting"/>
                </transition>
                <day-name :day="day" v-on:edit="nameEdit" v-on:notify="notify" />
                <day-items :exercises="exercises" :sorting="sorting" :day="day" v-on:notify="notify" />
            </div>
        </div>
    </transition-group>
</template>

<script>
import DayItems from './DayItems'
import DayDropdown from './DayDropDown'
import DayName from './DayName'

export default {
    props: ['plan', 'exercises'],
    components: {
        DayItems,
        DayDropdown,
        DayName
    },
    data(){
        return {
            sorting: false,
            edit: false,
        }
    },
    methods: {
        addExercise(day){
            this.$emit('add', {day_name: day.day_name, id: day.id})
        },
        nameEdit(day, bol){
            if(bol) this.edit = day;
            else this.edit = false;
        },
        enableSorting(id){
            this.sorting = id;
        },
        disableSorting(){
            this.sorting = false;
        },
        notify(message, error = 0){
            this.$emit('notify', message, error);
        }
    },
    computed: {
        orderedDays(){
            return _.orderBy(this.plan.days, 'order');
        },
    }
}
</script>

<style scoped>
.d-list-enter-active, .d-list-leave-active {
  transition: all 0.5s;
  opacity: 1;
}
.d-list-enter, .d-list-leave-to {
  opacity: 0;
}
.days .card {
    border-radius: 5px;
    box-shadow: 0 2px 7px 0px rgba(0,0,0,0.2);
    width: 100%;
    border: 0px;
    transition: all 0.4s ease-in;
}
</style>
