<template>
    <div class="float-right dropleft">
        <span class="icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font-awesome-icon class="text-secondary" icon="ellipsis-v" /> <span class="d-none d-md-inline">Options</span></span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <span class="dropdown-item icon" data-toggle="modal" data-target="#addDay"><font-awesome-icon icon="plus-circle"/> New day</span>
            <span class="dropdown-item icon" data-toggle="modal" data-target="#editPlan" @click="$emit('edit')"><font-awesome-icon icon="pen"/> Edit plan</span>
            <span class="dropdown-item icon" @click="removePlan"><font-awesome-icon icon="trash"/> Delete Plan</span>
        </div>
    </div>
</template>

<script>
export default {
    props: ['plan'],
    methods: {
        removePlan(){
            this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    this.$router.back();
                    this.$store.dispatch('plans/removePlan', this.plan.id)
                    .then((res) => {
                        this.$emit('notify', res.data.message);
                    }).catch((err) => {
                        this.$emit('notify', err, 1);
                    });
                }
            });
        }
    }
}
</script>

<style scoped>
.icon:hover{
    cursor: pointer;
}
</style>
