<template>
    <div class="nameCircle">
        {{char}}
    </div>
</template>

<script>
export default {
    props: ['first','last'],
    computed: {
        char(){
            return this.first.charAt(0).toUpperCase();
        }
    }
}
</script>

<style scoped>
.nameCircle {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 6px;
    background: linear-gradient(40deg, #f05323 0%, #f89b38 100%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    text-align: center;
    font: 19px Arial, sans-serif;
    user-select: none;
}
</style>
