<template>
    <div class="modal fade" id="addDay" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New day</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label  class="col-form-label required">Day name</label>
                    <input type="text" class="form-control" required v-model="day_name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ref="dismiss" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="addDay" v-bind:class="{disabled: loading}" >
                    <span v-if="loading == false">Add Day</span>
                    <span v-else>Loading..</span>
                </button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['plan'],
    data(){
        return {
            day_name: '',
            loading: false,
        }
    },
    methods: {
        addDay(){
            if(this.day_name == ''){
                this.$emit('error');
                return;
            }
            this.loading = true;
            let data = {plan: this.plan.id, day: this.day_name}
            this.$store.dispatch('plans/addPlanDay', data)
            .then((res) => {
                this.$refs.dismiss.click();
                this.$emit('notify', res.data.message);
                this.day_name = '';
            }).catch((err) => {
                this.$emit('notify', err, 1);
            });
            this.loading = false;
        },
    }
}
</script>
