<template>
    <div class="modal fade" id="addExercise" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Exercise for <span v-if="day">{{day.day_name}}</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label required">Select Exercise</label>
                    <select class="form-control" v-model="form.id">
                        <template v-for="ex in exercises">
                            <option :key="ex.id" :value="ex.id">{{ex.exercise_name}}</option>
                        </template>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-form-label required">Exercise duration</label>
                    <input type="number" v-model="form.duration" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ref="dismiss" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="addExercise" v-bind:class="{disabled: loading}">
                    <span v-if="loading == false">Add Exercise</span>
                    <span v-else>Loading..</span>
                </button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['plan','day','exercises'],
    data(){
        return {
            form: {
                id: '',
                duration: '',
            },
            loading: false,
        }
    },
    methods: {
        addExercise(){
            if(this.form.id == '' || this.form.duration == ''){
                this.$emit('error');
                return;
            }
            this.loading = true;
            let data = {plan: this.plan.id, day: this.day.id, exercise: {id: this.form.id, duration: this.form.duration}}
            this.$store.dispatch('plans/addDayExercise', data)
            .then((res) => {
                this.$refs.dismiss.click();
                this.$emit('notify', res.data.message, 0);
                this.reset_form();
            }).catch((err) => {
                this.$emit('notify', err, 1);
            });
            this.loading = false;
        },
        reset_form(){
            this.form = {
                day: '',
                id: '',
                duration: ''
            }
        }
    }
}
</script>
