<template>
    <div class="modal fade" id="addPlan" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label  class="col-form-label required">Plan name</label>
                    <input type="text" class="form-control" v-bind:class="{error: error}" v-model="plan.plan_name">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Plan description</label>
                    <textarea class="form-control" v-model="plan.plan_description"></textarea>
                </div>
                <div class="form-group">
                    <label class="col-form-label required">Plan difficulty</label>
                    <input type="number" class="form-control" min="1" max="3" v-model="plan.plan_difficulty">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ref="dismiss" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="addPlan" v-bind:class="{disabled: loading}">
                    <span v-if="loading == false">Add Plan</span>
                    <span v-else>Loading..</span>
                </button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            plan: {
                plan_name: '',
                plan_description: '',
                plan_difficulty: 1,
            },
            loading: false,
            error: false
        }
    },
    methods: {
        addPlan(){
            this.error = false;
            if(this.plan.name == ''){
                this.error = true;
                return;
            }
            this.loading = true;
            this.$store.dispatch('plans/addPlan', this.plan)
            .then((res) => {
                this.$refs.dismiss.click();
                this.reset_form();
            });
            this.loading = false;
        },
        reset_form(){
            this.plan = {
                name: '',
                description: '',
                difficulty: '',
            }
        }
    }
}
</script>

<style scoped>
.error {
    border-color:crimson;
}
</style>

<style>
.required::after {
    content: '*';
    color: crimson;
    margin-left: 3px;
}
</style>
