<template>
    <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label  class="col-form-label required">Firstname</label>
                    <input type="text" class="form-control" required v-model="form.firstname">
                </div>
                <div class="form-group">
                    <label class="col-form-label required">Lastname</label>
                    <input type="text" class="form-control" required v-model="form.lastname">
                </div>
                <div class="form-group">
                    <label class="col-form-label required">Email</label>
                    <input type="email" class="form-control" required v-model="form.email">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ref="dismiss" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="addUser" >
                    <span>
                        Add User
                    </span>
                </button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            form: {
                firstname: '',
                lastname: '',
                email: '',
                password: 'none',
            },
        }
    },
    methods: {
        addUser(){
            if(this.form.firstname == '' || this.form.lastname == '' || this.form.email == ''){
                this.$emit('error');
                return;
            }
            this.$store.dispatch('users/addUser', this.form)
            .then((res) => {
                this.$refs.dismiss.click();
                this.$emit('notify', res.data.message);
                this.reset_form();
            }).catch((err) => {
                this.$emit('notify', err, 1);
            });
        },
        reset_form(){
            this.form = {
                firstname: '',
                lastname: '',
                email: '',
            }
        }
    }
}
</script>
