<template>
    <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User Data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label  class="col-form-label">Firstname</label>
                    <input type="text" class="form-control" v-model="user.firstname">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Lastname</label>
                    <input type="text" class="form-control" v-model="user.lastname">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Email</label>
                    <input type="email" class="form-control" v-model="user.email">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ref="dismiss" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="editUser" >
                    <span>
                        Save
                    </span>
                </button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['user'],
    methods: {
        editUser(){
            if(this.user.firstname == '' || this.user.lastname == '' || this.user.email == ''){
                this.$emit('error');
                return;
            }
            this.$store.dispatch('users/editUser', this.user)
            .then((res) => {
                this.$refs.dismiss.click();
                this.$emit('notify', res.data.message);
            }).catch((err) => {
                this.$emit('notify', err, 1);
            });
        },
    }
}
</script>
