<template>
    <div class="modal fade" id="editPlan" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit plan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label  class="col-form-label">Plan name</label>
                    <input type="text" class="form-control" v-model="plan_name">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Plan description</label>
                    <textarea class="form-control" v-model="plan_description"></textarea>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Plan difficulty</label>
                    <input type="number" class="form-control" min="1" max="3" v-model="plan_difficulty">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ref="dismiss" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="editPlan" v-bind:class="{disabled: loading}">
                    <span v-if="loading == false">Edit plan</span>
                    <span v-else>Loading..</span>
                </button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['plan'],
    data(){
        return {
            loading: false,
        }
    },
    methods: {
        editPlan(){
            if(this.plan.plan_name == '' || this.plan.plan_difficulty == ''){
                this.$emit('error');
                return;
            }else{
                this.loading = true;
                this.$store.dispatch('plans/editPlan', this.plan)
                .then((res) => {
                    if(res.data.message) this.$emit('notify', res.data.message);
                    this.$refs.dismiss.click();
                }).catch((err) => {
                    this.$emit('notify', err, 1);
                });
                this.loading = false;
            }
        }
    },
    computed: {
        plan_name: {
            get() {
                return this.plan.plan_name;
            },
            set(value) {
                let data = {id: this.plan.id, value: value}
                this.$store.commit('plans/UPDATE_PLAN_NAME', data);
            },
        },
        plan_description: {
            get() {
                return this.plan.plan_description;
            },
            set(value) {
                let data = {id: this.plan.id, value: value}
                this.$store.commit('plans/UPDATE_PLAN_DESC', data);
            },
        },
        plan_difficulty: {
            get() {
                return this.plan.plan_difficulty;
            },
            set(value) {
                let data = {id: this.plan.id, value: value}
                this.$store.commit('plans/UPDATE_PLAN_DIFF', data);
            },
        }
    }
}
</script>
