<template>
    <div class="modal fade" id="showUsers" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Plan Users</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <transition name="fade" mode="out-in" v-if="addUser == false" >
                    <font-awesome-icon class="float-right icon"  @click="addUser = true" icon="user-plus" />
                </transition>
                <transition name="fade" mode="out-in" v-if="addUser == true" >
                    <div class="row">
                        <div class="col-9">
                            <v-select v-model="selected" label="email" :options="selectUsers"></v-select>
                        </div>
                        <div class="col-3 text-center">
                            <font-awesome-icon class="icon mr-2" size="lg" icon="save"  @click="addPlanUser"/>
                            <font-awesome-icon class="icon" icon="times" size="lg"  @click="reset_form"/>
                        </div>
                    </div>
                </transition>
                <div class="row mt-4">
                    <table class="table">
                        <thead>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th></th>
                        </thead>
                        <transition-group name="p-list" tag="tbody">
                            <template v-for="user in users">
                                <tr :key="user.id">
                                    <td>{{`${user.firstname} ${user.lastname}`}}</td>
                                    <td>{{user.email}}</td>
                                    <td class="text-center"><font-awesome-icon class="icon" color="#dc3545" icon="trash" @click="removePlanUser(user.id)"/></td>
                                </tr>
                            </template>
                        </transition-group>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
import vSelect from 'vue-select'
export default {
    components: {
        vSelect,
    },
    props: ['plan', 'users', 'dusers'],
    data(){
        return {
            addUser: false,
            selected: null,
        }
    },
    methods: {
        addPlanUser(){
            if(this.selected == null){
                this.reset_form();
                return;
            }
            let data = {plan: this.plan.id, user: this.selected}
            this.$store.dispatch('plans/addPlanUser', data)
            .then((res) => {
                this.reset_form();
            });
        },
        removePlanUser(id){
            this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {
                    let data = {plan: this.plan.id, user: id}
                    this.$store.dispatch('plans/removePlanUser', data)
                    .then((res) => {
                        this.$emit('notify', res.data.message);
                    }).catch((err) => {
                        this.$emit('error', err, 1);
                    });
                }
            });
        },
        reset_form(){
            this.addUser = false;
            this.selected = null;
        }
    },
    computed: {
        selectUsers(){
            return this.dusers.reduce((arr, u) => {
                if(this.users.length > 0){
                    if(this.users.filter(usr => usr.id == u.id).length > 0){
                        return arr;
                    }else{
                        return [...arr, u]
                    }
                }
                return [...arr, u]
            }, []);
        }
    }
}
</script>

<style scoped>
.p-list-enter-active, .p-list-leave-active {
    transition: all 0.5s;
}
.p-list-enter, .p-list-leave-to {
    opacity: 0;
}
</style>
