<template>
  <div>
    <Navbar/>
    <div class="container section">
      <transition
          name="fade"
          mode="out-in">
        <router-view></router-view>
      </transition>
    </div>
  </div>
</template>


<script>
import Navbar from "../components/Navbar.vue";

export default {
  components: {
    Navbar,
  },
  created(){
    if(this.$route.name == 'home') this.$router.push('/plans');
  }
}
</script>

<style>
body{
  background-color: #f0f0f0;
}
.section{
  height: 100vh;
  bottom:0;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
</style>
